RewriteEngine on

RewriteBase /

# If a physical file or folder exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send it over cleanly to index.php
RewriteRule . index.php [L]